<div class="intake24-database-tool">
  <h3>Export nutrient mapping</h3>

  <div class="col-sm-12 col-lg-8">
    <div class="bg-info p-1">
      <p>This tool will export the list of all foods in the selected locale including references to the food
        composition tables they are linked to and the corresponding nutrient data from those tables.</p>

      <p>The meaning of columns in the output .csv file is as follows:</p>

      <p><strong>Intake24 food code</strong> — self explanatory.</p>
      <p><strong>English description</strong> — food description in English.</p>
      <p><strong>Local description</strong> — food description in the local language associated with the selected
        locale. </p>
      <p><strong>Source locale</strong> — locale that was used to resolve the food composition table code. This will
        usually be the selected locale, however it can be different if the food has no food composition table links
        defined int the selected locale and the system has to fall back on the data from the prototype locale. </p>
      <p><strong>FCT</strong> — the ID of the food composition table that this food is linked to, e.g. NDNS_Yr_12. </p>
      <p><strong>FCT record ID</strong> — the ID of the record in the food composition table that the food is linked
        to, e.g. if the FCT is NDNS_Yr_12 then this is the NDNS (NDB) food code </p>
      <p>The rest is the nutrient data in <strong>units per 100g/ml</strong>. The available nutrient types and their
        order is determined by the locale settings and the unit can be found in the header row.</p>
    </div>

    <form class="mt-1">
      <div class="form-group">
        <label class="control-label">Locale</label>
        <select ng-model="selectedLocale" ng-options="item.englishName for item in locales track by item.id"
                class="form-control">
        </select>
      </div>

      <div class="form-group">
        <button class="btn btn-success" ng-disabled="!selectedLocale" ng-click="exportNutrientMapping()"> Export
          nutrient mapping
        </button>
      </div>
    </form>

    <h3>Active tasks</h3>
    <task-status type="'export-nutrients-mapping'"></task-status>
  </div>
</div>

