<div class="page-block row">
    <div class="col-sm-5 col-sm-push-7">
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Search"
                   ng-model="searchQuery">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
    </div>
    <div class="col-sm-7 col-sm-pull-5">
        <ul class="list-inline">
            <li>
                <ul class="nav nav-pills">
                    <li ng-class="{active: views.respondents.active}">
                        <a href="" ng-click="selectView(views.respondents)">{{views.respondents.name}}</a>
                    </li>
                    <li ng-class="{active: views.staff.active}">
                        <a href="" ng-click="selectView(views.staff)">{{views.staff.name}}</a>
                    </li>
                </ul>
            </li>
            <li class="vertical-align-top">
                <button type="button" class="btn btn-default" ng-click="newUser()">
                    <span class="hidden-xs">
                        {{views.respondents.active ? "New respondent" : ""}}
                        {{views.staff.active ? "New staff" : ""}}
                    </span>
                    <i class="fa fa-plus visible-xs"></i>
                </button>

                <button type="button" class="btn btn-default"
                        ng-if="views.respondents.active"
                        file-button
                        on-change="onFilesChange(fileList)"
                        ng-disabled="fileLoading">
                    <i class="fa" ng-class="{'fa-spinner fa-spin': fileLoading, hide: !fileLoading}"></i>
                    <span class="hidden-xs">
                        Upload CSV
                    </span>
                    <i class="fa fa-upload visible-xs" ng-hide="fileLoading"></i>
                </button>
            </li>
        </ul>
    </div>
</div>

<div>
    <div class="bordered-list-item" ng-repeat="user in filteredUsers = (users | filter:searchQuery)">
        <h4>
            {{getUserTitle(user)}}
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-sm" ng-click="editUser(user)">
                    <i class="fa fa-pencil"></i>
                </button>
            </div>
        </h4>
    </div>
    <h4 ng-hide="filteredUsers.length || loading">No users found</h4>
    <h4 ng-show="loading">Loading</h4>
</div>

<survey-user-modal is-open="userModalIsOpen"
                   user="editedUser"
                   user-type="getUserType()"
                   survey-id="surveyId"
                   on-saved="onUserSaved()"
                   on-created="onUserCreated"
                   on-deleted="onUserDeleted"
></survey-user-modal>