<form>
    <div class="form-group" ng-class="{'has-error': !fieldIsValid(newId)}">
        <label class="control-label">Guide image ID</label>
        <input type="text" class="form-control"
               placeholder="Guide image ID"
               ng-disabled="loading || !editState"
               ng-model="newId">
    </div>
    <div class="form-group" ng-class="{'has-error': !fieldIsValid(newDescription)}">
        <label class="control-label">Guide image description</label>
        <input type="text" class="form-control"
               placeholder="Guide image description"
               ng-disabled="loading || !editState"
               ng-model="newDescription">
    </div>
    <div class="form-group text-right" ng-show="editState">
        <button class="btn btn-default" ng-click="cancel()">
            Cancel
        </button>
        <button class="btn btn-link" ng-click="save()"
                ng-disabled="loading || !formIsValid()">
            {{loading ? 'Loading' : 'Save'}}
        </button>
    </div>
    <div class="form-group text-right" ng-hide="editState">
        <button class="btn btn-link" ng-click="edit()">
            Edit
        </button>
    </div>
</form>