.properties-container#add-new-food-container(ng-if="currentItem != null && currentItem.type == 'food' && newItem")


	.properties-padding
		
		.page-header
			h2 #{ gettext("Add new food") }

		include forms/food-properties

	.properties-footer
		.input-wrapper
			.intake-btn.success(ng-click='saveNewFood()')
				span #{ gettext("Add food") }
			.intake-btn.danger(ng-click='cancelNewFood()')
				span #{ gettext("Cancel") }
			.clearfloat
