.properties-container#add-new-category-container(ng-if="currentItem != null && currentItem.type == 'category' && newItem")

	.properties-padding
		
		.page-header
			h2 #{ gettext("Add new category") }

		include forms/category-properties

	.properties-footer
		.input-wrapper
			.intake-btn.success(ng-click='saveNewCategory()')
				span #{ gettext("Add category") }
			.intake-btn.danger(ng-click='cancelNewCategory()')
				span #{ gettext("Cancel") }
			.clearfloat
