.properties-container#add-new-food-container


	.properties-padding
		
		.page-header
			h2 #{ gettext("Add new food") }

		include forms/food-properties

	.properties-footer
		.input-wrapper
			.intake-btn.success(ng-click='addFood()')
				span #{ gettext("Add food") }
			.intake-btn.danger(ng-click='returnHome()')
				span #{ gettext("Cancel") }
			.clearfloat
