.properties-container#add-new-food-container

	.page-header
		h2 #{ gettext("Add new food") }

	include forms/food-properties

	.property
		hr
		.input-wrapper
			.btn.success(ng-click='addFood()')
				span #{ gettext("Add food") }
			.btn.danger
				span #{ gettext("Cancel") }
			.clearfloat