.properties-container#category-properties-container

	include forms/category-properties

	.property
		hr
		.input-wrapper
			.btn.success
				span #{ gettext("Accept changes") }
			.btn.warning
				span #{ gettext("Discard changes") }
			.btn.danger
				span #{ gettext("Delete") }
			.clearfloat