.properties-container#category-properties-container

	include forms/category-properties

	.property
		hr
		.input-wrapper
			.btn.success(ng-click='updateCategory()')
				span #{ gettext("Accept changes") }
			.btn.warning(ng-click='discardCategoryChanges()')
				span #{ gettext("Discard changes") }
			.btn.danger(ng-click='deleteCategory()')
				span #{ gettext("Delete") }
			.clearfloat