.properties-container#category-properties-container(ng-if="currentItem != null && currentItem.type == 'category' && !newItem")

	.properties-padding
		
		.page-header
			h2 #{ gettext("Category") }: {{ currentItem.displayName }}

		include forms/category-properties

	.properties-footer
		.input-wrapper
			.intake-btn.success(ng-click='updateCategory()')
				span #{ gettext("Accept changes") }
			.intake-btn.warning(ng-click='discardCategoryChanges()')
				span #{ gettext("Discard changes") }
			.intake-btn.danger(ng-click='deleteCategory()')
				span #{ gettext("Delete") }
			.clearfloat
