.drawer.drawer-narrow.no-padding.animated#drawer-manage-categories(ng-controller='CategoryManagerController')
	#button-close-drawer.button-close-drawer
		i.fa.fa-times
	.drawer-title #{ gettext("Manage Categories") }
	.drawer-content
		.categories-container
			input(type='text' ng-model='searchQuery' ng-model-options='{getterSetter : true}' placeholder='#{ gettext("Search categories") }')
			ul(ng-if="searchQuery()")
				li(ng-repeat='category in searchResults | orderBy:"displayName"' ng-click='toggleParentCategory(category)' ng-class='isInParentCategories(category) ? "selected" : "unselected"') {{category.displayName}}
			ul(ng-if="!searchQuery()")
				li(ng-repeat='category in fixedCategories | orderBy:"displayName"' ng-click='toggleParentCategory(category)' ng-class='isInParentCategories(category) ? "selected" : "unselected"') {{category.displayName}}

	.drawer-footer
		button(class="intake-btn success drawer-form-button button-close-drawer close-drawer" ng-click='reloadCategories()') #{ gettext("Done") }
		.clearfloat
	
#drawer-backdrop
