.drawer.drawer-narrow.no-padding.animated#drawer-manage-categories
	#button-close-drawer.button-close-drawer
		i.fa.fa-times
	.drawer-title #{ gettext("Manage Categories") }
	.drawer-content
		.categories-container
			input(type='text' ng-model='searchQuery' placeholder='#{ gettext("Search categories") }')
			ul
				li(ng-model='SharedData.allCategories' ng-repeat='category in SharedData.allCategories | categoryFilter: searchQuery | orderBy:englishDescription' ng-click='category.state = updateState(category.state)' ng-class='((category.state == "existing") || (category.state == "add")) ? "selected" : "unselected"') {{category.englishDescription}}

	.drawer-footer
		button(class="btn success drawer-form-button button-close-drawer close-drawer" ng-click='reloadCategories()') #{ gettext("Done") }
		.clearfloat
	
#drawer-backdrop