.col#food-list-col
	include search
	
	.food-list-container
		.food-list
			ul(ng-model='SharedData.treeData')
				li(ng-repeat='(index, value) in SharedData.treeData | orderBy:["type", "englishDescription"]' ng-include='"node"' ng-class='(value.open) ? "node-open" : "node-closed"')

script(type="text/ng-template", id="node")
	include node