.col#food-list-col(ng-controller="ExplorerController")

	include view-toggle
	
	include search
	
	.food-list-container.visible
		.food-list
			ul
				li(ng-repeat='(index, value) in rootCategories.slice(0, 1) | orderBy:["type", "displayName"]' ng-include='"node"' ng-class='(value.open) ? "node-open" : "node-closed"')
				li(ng-repeat='(index, value) in rootCategories.slice(1) | orderBy:["type", "displayName"]' ng-include='"node"' ng-class='(value.open) ? "node-open" : "node-closed"')

include food-problems

script(type="text/ng-template", id="node")
	include node
