.properties-container#food-properties-container

	.properties-padding
		
		.page-header
			h2 #{ gettext("Food") }: {{ currentItem.displayName }}

		div(class="fa fa-bug food-local-view-icon" uib-popover-template="'food-local-view-popover-template'" popover-trigger="mouseenter" popover-placement="auto")
		
		include food-local-view
		include forms/food-properties

	.properties-footer
		.input-wrapper
			.intake-btn.success(ng-click='updateFood()')
				span #{ gettext("Accept changes") }
			.intake-btn.warning(ng-click='discardFoodChanges()')
				span #{ gettext("Discard changes") }
			.intake-btn.danger(ng-click='deleteFood()')
				span #{ gettext("Delete") }
			.clearfloat
