.properties-container#food-properties-container(ng-if="currentItem != null && currentItem.type == 'food'")

	.properties-padding
		
		.page-header
			h2 #{ gettext("Food") }: {{ currentItem.displayName }}

		div(class="fa fa-bug food-local-view-icon" uib-popover-template="'food-local-view-popover-template'" popover-trigger="mouseenter" popover-placement="auto")
		
		include food-local-view
		include forms/food-properties

	.properties-footer
		.input-wrapper
			button(class="intake-btn success" ng-click="updateFood()" ng-disabled="!itemChanged() || forceDisabledButtons" id="btn-update-food")
				span #{ gettext("Accept changes") }
			button(class="intake-btn warning" ng-click="discardFoodChanges()" ng-disabled="!itemChanged() || forceDisabledButtons" id="btn-discard-food")
				span #{ gettext("Discard changes") }
			button(class="intake-btn danger" ng-click="deleteFood()" ng-disabled="forceDisabledButtons" id="btn-delete-food")
				span #{ gettext("Delete") }
			.clearfloat
