.properties-container#food-properties-container

	.properties-padding
		
		.page-header
			h2 #{ gettext("Food") }

		include forms/food-properties

	.properties-footer
		.input-wrapper
			.intake-btn.success(ng-click='updateFood()')
				span #{ gettext("Accept changes") }
			.intake-btn.warning(ng-click='discardFoodChanges()')
				span #{ gettext("Discard changes") }
			.intake-btn.danger(ng-click='deleteFood()')
				span #{ gettext("Delete") }
			.clearfloat
