extend layout

block content
	.col.food-list-col
		.food-list-container
			p All Foods
				.food-list
					ul
						li Beans on toast
							ul
								li.child-node Beans
								li.child-node Toast
						li Chicken curry
						li Swedish Meatballs
							ul
								li.child-node Meatballs
								li.child-node Spaghetti

	.col.food-properties-col
		.food-properties-container

			.food-property
				h3 Food definition
				.input-wrapper
					label Intake24 code
					input(type='text', placeholder='ALBU')
				.input-wrapper
					label NDNS code
					input(type='text', placeholder='10968')
				.input-wrapper
					label Food group
					select
						option Other vegetables
				.input-wrapper
					label Description
					input(type='text', placeholder='Beans on toast')

			.food-property
				h3 Categories
				.input-wrapper
					textarea(rows='4', placeholder='Enter categories')
				.input-wrapper
					.btn
						span Remove from selected category
					.btn
						span Add to category...
					.clearfloat

			.food-property
				h3 Portion size estimation


block sidebar
	ul
		li
			a(href='') Create new survey
		li
			a(href='').active Edit staff accounts<i class="fa fa-chevron-down"></i>
			ul.nested-li
				li
					a(href='') Survey 1
				li
					a(href='') Survey 2
				li
					a(href='') Survey 3

			li
				a(href='') Survey management<i class="fa fa-chevron-down"></i>
				ul
					li
						a(href='').active Survey 1<i class="fa fa-chevron-down"></i>
						ul.nested-li
							li
								a(href='') Change settings
							li
								a(href='') Change schedule
							li
								a(href='') Upload user accounts
							li
								a(href='') Download data
							li
								a(href='') Download report

						li
							a(href='') Survey 2<i class="fa fa-chevron-left"></i>
						li
							a(href='') Survey 3<i class="fa fa-chevron-left"></i>

						li
							a(href='').active Food Database<i class="fa fa-chevron-down"></i>
						ul.nested-li
							li
								a(href='') Foods and categories
							li
								a(href='') 'As served' images
							li
								a(href='') 'Guide' images
							li
								a(href='') 'Sliding scale' images