doctype
html(lang='#{lang}' dir='#{lang_dir}')

	head
		title #{title} - #{ gettext("Intake24 Admin") }

		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/libs/animate.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/buttons.css')
		link(rel='stylesheet', href='/stylesheets/sidebar.css')
		link(rel='stylesheet', href='/stylesheets/modals.css')
		link(rel='stylesheet', href='/scripts/themes/intake/style.css')
		link(rel='stylesheet', href='/stylesheets/food-list.css')
		link(rel='stylesheet', href='/stylesheets/properties.css')
		link(rel='stylesheet', href='/stylesheets/search.css')

		script(type="text/javascript" src="/scripts/jquery.min.js")
		script(type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
		script(type="text/javascript" src="/scripts/js.cookie.js")
		script(type="text/javascript" src="/scripts/angular.js")
		script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js")
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-cookies.js")
		script(type="text/javascript" src='/scripts/jstree.min.js')
		script(type="text/javascript" src='/scripts/modals.js')
		script(type="text/javascript" src='/scripts/main.js')
		script(type="text/javascript" src='/scripts/auth.js')
		script(type="text/javascript" src='/scripts/search.js')
		script(type="text/javascript" src='/scripts/explorer.js')
		script(type="text/javascript" src='/scripts/navigation.js')

	body.animated.fadeIn(ng-app='app' ng-controller='ExplorerController')
		header
			#sidebar-button(ng-click="sidebaropen=!sidebaropen")
				i.fa.fa-bars
			a(href='/')
				h4 <strong>Intake24</strong> Admin
			a(href='#' class='btn-modal' id='btn-authenticate' data-modal='modal-logout').auth-menu
				i.fa.fa-user
				p Login / Register

		.container
			.main-content
				block content
			
			include sidebar
		
	.flash-message
		#message
		#flash-dismiss-btn(ng-click='hideMessage()')
			i(class='fa fa-close')

	#authenticate-overlay
		#authenticate-logo
			h4 <strong>Intake24</strong> Admin

	include modals