a(ng-click='value.open = !value.open; nodeSelected($event, value)')
	i(class='fa fa-caret-down fa-fw' ng-if='(value.type == "category" || value.type == "uncategorised")')
	i(class='fa fa-caret-right fa-fw' ng-if='((value.type == "category" || value.type == "uncategorised") && ("#{lang_dir}" == "ltr"))')
	i(class='fa fa-caret-left fa-fw' ng-if='((value.type == "category" || value.type == "uncategorised") && ("#{lang_dir}" == "rtl"))')
	i(ng-class='nodeMarkerClass(value, #{lang_dir})' uib-popover-template="'problems-popover-template'" popover-trigger="mouseenter" popover-placement="bottom-left")
	{{ value.englishDescription }}
ul(ng-if='value.children' ng-model='SharedData.treeData')
	li(ng-repeat='(index, value) in value.children | orderBy:["type", "englishDescription"]' ng-include='"node"')
