doctype
html(lang=lang dir=lang_dir)

    head
        title #{ gettext("Intake24 Admin | Password reset") }

        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')

        link(rel='stylesheet', href='/style.css')

        script(type="text/javascript" src='/i18n/' + lang + '/messages.js')
        script(type="text/javascript" src='/intake24-admin.js')
        script(src="https://www.google.com/recaptcha/api.js" async defer)

    body(ng-app='intake24.admin' ng-controller='PasswordResetController')
        #authenticate-overlay
            #authenticate-logo
                h4 <strong>Intake24</strong> | Password reset
