.col#properties-col(ng-controller='PropertiesController')

	form.form-horizontal
		include add-new-category

		include category-properties

		include food-properties

		include add-new-food

		include drawers
