.view-toggle(ng-class="{inactive:(!SharedData.currentItem.hasOwnProperty('code'))}" onclick="$('html, body').animate({scrollTop: ($('#properties-col').offset().top - $('header').height())}, 500);")
	i.fa.fa-chevron-down
