// Buttons

/* Import snippets */
@import 'snippets'

/* Import variables */
@import 'variables'

.intake-btn
	background-color btn-default-color
	border 1px solid darken(btn-default-color, 5%)
	border-radius 4px
	float left
	font-size 13px
	margin 10px 10px 10px 0
	padding 12px 15px
	transition(all .2s linear)
	&:hover
		background-color darken(btn-default-color, 5%)
		border 1px solid darken(btn-default-color, 5%)
		cursor pointer
	&:active
		background-color darken(btn-default-color, 15%)
		border 1px solid darken(btn-default-color, 15%)
.success
	&:hover
		background-color darken(btn-success-color, 5%)
		border 1px solid darken(btn-success-color, 5%)
		color #FFF
	&:active
		background-color darken(btn-success-color, 15%)
		border 1px solid darken(btn-success-color, 15%)
.warning
	&:hover
		background-color darken(btn-warning-color, 5%)
		border 1px solid darken(btn-warning-color, 5%)
		color #FFF
	&:active
		background-color darken(btn-warning-color, 15%)
		border 1px solid darken(btn-warning-color, 15%)
.danger
	&:hover
		background-color darken(btn-danger-color, 5%)
		border 1px solid darken(btn-danger-color, 5%)
		color #FFF
	&:active
		background-color darken(btn-danger-color, 15%)
		border 1px solid darken(btn-danger-color, 15%)

/* RTL Styles */

html[dir="rtl"]
	.intake-btn
		float right
		margin 10px 0 10px 10px
