/* Import CSS snippets */
.clearfloat {
  clear: both;
  float: none;
}
/* Import color variables */
.food-list-container {
  padding: 15px 10px;
}
.food-list-container .food-list {
  overflow: hidden;
}
@media (max-width: 1080px) {
  .food-list-container {
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    border-bottom: 1px solid #f2f2f2;
  }
}
