/* Import color variables */
.food-properties-container {
  padding: 30px;
}
.food-properties-container .food-property {
  margin-bottom: 50px;
}
.food-properties-container .food-property h3 {
  color: #444;
  font-size: 20px;
  padding-bottom: 15px;
}
.food-properties-container .food-property .input-wrapper {
  display: block;
  margin-bottom: 10px;
  padding-left: 0px;
}
.food-properties-container .food-property .input-wrapper label {
  display: inline-block;
  font-size: 13px;
  margin-right: 20px;
  min-width: 100px;
}
.food-properties-container .food-property .input-wrapper input,
.food-properties-container .food-property .input-wrapper select,
.food-properties-container .food-property .input-wrapper textarea {
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  min-width: 200px;
}
.food-properties-container .food-property .input-wrapper input {
  outline: 0;
  padding: 8px 10px;
}
.food-properties-container .food-property .input-wrapper select {
  height: 36px;
  min-width: 220px;
  outline: 0;
}
.food-properties-container .food-property .input-wrapper textarea {
  width: 320px;
  outline: 0;
  padding: 8px 10px;
}
