/* Import color variables */
@import 'variables'

.food-list-container
	padding 20px 30px 30px 15px
	.food-list
		overflow hidden 

@media (max-width: 1080px)
	.food-list-container
		border-right none
		border-bottom 1px solid #f2f2f2