/* Import CSS snippets */
.clearfloat {
  clear: both;
  float: none;
}
/* Import color variables */
.food-list-container {
  display: none;
  padding: 15px 10px;
}
.food-list-container.visible {
  display: flex;
}
.food-list-container .food-list {
  overflow: hidden;
}
.food-list-container .food-list ul.intake-problems-list li {
  font-size: 12px;
}
.food-list-container .food-list ul {
  margin: 0;
  padding: 0;
}
.food-list-container .food-list ul li {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.food-list-container .food-list ul li .fa-circle-o,
.food-list-container .food-list ul li .fa-spin {
  margin-left: 20px;
}
.food-list-container .food-list ul li a {
  border-radius: 4px;
  display: block;
  padding: 8px 12px;
  white-space: nowrap;
}
.food-list-container .food-list ul li a.active {
  background-color: #f2f2f2;
}
.food-list-container .food-list ul li a:hover {
  cursor: pointer;
}
.food-list-container .food-list ul li i {
  color: #999;
}
.food-list-container .food-list ul li .fa-circle,
.food-list-container .food-list ul li .fa-circle-o,
.food-list-container .food-list ul li .fa-spin {
  color: #38d075;
  margin-right: 5px;
}
.food-list-container .food-list ul li .fa-circle.problems,
.food-list-container .food-list ul li .fa-circle-o.problems,
.food-list-container .food-list ul li .fa-spin.problems {
  color: #ff3636;
}
.food-list-container .food-list ul li .fa-circle.editing,
.food-list-container .food-list ul li .fa-circle-o.editing,
.food-list-container .food-list ul li .fa-spin.editing {
  color: #fb850c;
}
.food-list-container .food-list ul li > ul > li {
  padding: 0 0 0 15px;
}
.food-list-container .food-list ul li > ul {
  display: none;
}
.food-list-container .food-list ul .node-open > ul {
  display: block !important;
}
.food-list-container .food-list .intake-problems-list-name {
  font-weight: bold;
}
@media (max-width: 1080px) {
  .food-list-container {
    border-right: none;
    border-bottom: 1px solid #f2f2f2;
  }
}
.fa-caret-right,
.fa-caret-left {
  display: inline-block;
}
.fa-caret-down {
  display: none;
}
.node-open > a .fa-caret-right,
.node-open > a .fa-caret-left {
  display: none;
}
.node-open > a .fa-caret-down {
  display: inline-block;
}
/* RTL Styles */
html[dir="rtl"] .food-list-container .food-list ul li .fa-circle-o,
html[dir="rtl"] .food-list-container .food-list ul li .fa-spin {
  margin-left: auto;
  margin-right: 20px;
}
html[dir="rtl"] .food-list-container .food-list ul li .fa-circle,
html[dir="rtl"] .food-list-container .food-list ul li .fa-circle-o,
html[dir="rtl"] .food-list-container .food-list ul li .fa-spin {
  margin-left: 5px;
}
html[dir="rtl"] .food-list-container .food-list ul li > ul > li {
  padding: 0 15px 0 0;
}
