/* Import nib */
/* Import snippets */
.clearfloat {
  clear: both;
  float: none;
}
/* Import variables */
/* Grab custom fonts from Google */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");
/* Nib provides a CSS reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/* Override bootstrap's settings */
a {
  color: inherit;
}
a:focus,
a:hover {
  text-decoration: none;
  color: inherit;
}
html {
  background-color: #f9f9f9;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
body.modal-open {
  overflow: hidden;
}
/* This snippet prevents bouncing but fails on small screen sizes
html, body
		height 100%
		overflow hidden

.intake-container
	position absolute
		top 0
		bottom 0
		left 0
		right 0
		overflow auto
*/
.hidden {
  display: none;
}
header {
  background-color: rgba(255,255,255,0.1);
  background-color: #f63;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
header a {
  text-decoration: none;
}
header a h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  padding: 0 15px;
  line-height: 50px;
}
@media (max-width: 800px) {
  header a h4 {
    font-size: 15px;
  }
}
header a h4 strong {
  font-weight: 400;
}
header a.auth-menu {
  background-color: #f63;
  color: #fff;
  line-height: 50px;
  padding: 0 20px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background 0.3s ease-out;
  -moz-transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}
header a.auth-menu i {
  display: none;
  float: left;
  line-height: inherit;
  margin-right: 8px;
}
header a.auth-menu p {
  float: left;
  line-height: inherit;
  font-size: 13px;
}
header a.auth-menu.authenticated i {
  display: block;
}
header a.auth-menu:hover {
  background-color: #ff4f14;
  cursor: pointer;
}
header a.auth-menu:active {
  background-color: #e63900;
}
.flash-message {
  background: #3af;
  color: #fff;
  height: 50px;
  line-height: 50px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  padding: 0 50px;
  position: fixed;
  text-align: center;
  top: -50px;
  z-index: 1000;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.flash-message #flash-dismiss-btn {
  background-color: rgba(0,0,0,0.1);
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 50px;
}
.flash-message.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 0;
}
.flash-message.success {
  background-color: #38d075;
}
.flash-message.warning {
  background-color: #fb850c;
}
.flash-message.danger {
  background-color: #ff3636;
}
@media (max-width: 568px) {
  .flash-message {
    padding: 0 50px 0 0;
  }
}
.page-header {
  padding: 0 0 30px 0;
}
.page-header h2 {
  color: #f63;
  font-size: 26px;
  font-weight: 100;
}
.authenticated a.auth-menu i {
  display: block;
}
#authenticate-overlay {
  background-color: #f63;
  background-image: url("../images/web.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  -webkit-background-size: 40%;
  -moz-background-size: 40%;
  background-size: 40%;
  display: block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 12;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
@media (max-width: 800px) {
  #authenticate-overlay {
    -webkit-background-size: 70%;
    -moz-background-size: 70%;
    background-size: 70%;
  }
}
#authenticate-overlay #authenticate-logo {
  padding: 0 20px;
  text-align: center;
}
#authenticate-overlay #authenticate-logo h4 {
  color: #fff;
  font-size: 28px;
  font-weight: 300;
  line-height: 200px;
  padding: 0 15px;
}
#authenticate-overlay #authenticate-logo h4 strong {
  font-weight: 400;
}
.authenticated #authenticate-overlay {
  display: none;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.main-content {
  background-color: #f9f9f9;
  padding-left: 280px;
}
.col {
  overflow: auto;
  padding-top: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
}
#food-list-col {
  background-color: #fff;
  width: 380px;
}
#properties-col {
  background-color: #fff;
  border-left: #e1e1e1 1px solid;
  left: 660px;
  right: 0;
}
@media (max-width: 1080px) {
  #properties-col {
    left: 380px;
  }
}
#properties-col.fullwidth {
  left: 280px;
}
@media (max-width: 800px) {
  .col {
    position: relative;
    bottom: auto;
    top: auto;
    left: auto;
    right: auto;
    width: 100%;
  }
  #food-list-col {
    width: 100%;
  }
  #properties-col {
    left: 0;
    padding-top: 0;
  }
  #properties-col.fullwidth {
    left: 0;
    padding-top: 50px;
  }
}
@media (max-width: 1080px) {
  .main-content {
    padding-left: 0px;
  }
  header h4 {
    margin: 0 50px;
    text-align: center;
  }
  header a.auth-menu p {
    display: none;
  }
  header a.auth-menu i {
    display: block;
    margin-right: 0;
  }
}
input.valid {
  border-color: #38d075 !important;
}
input.invalid {
  border-color: #ff3636 !important;
}
/* Sortable */
.categories-container {
  overflow: scroll;
}
.categories-container input {
  background: #f9f9f9;
  border: 1px solid #e1e1e1 !important;
  font-size: 15px;
  font-weight: 300;
  outline: 0;
  padding: 15px 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.categories-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.categories-container ul li {
  border-left: #e1e1e1 3px solid;
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0 15px;
  white-space: nowrap;
}
.categories-container ul li:hover {
  background: #f9f9f9;
  cursor: pointer;
}
.categories-container ul li.selected {
  background: #f9f9f9;
  border-left: #fb850c 3px solid;
}
.categories-container ul li span {
  position: absolute;
}
.modal .categories-container li {
  margin: 0;
}
.drawer .list-container {
  overflow: scroll;
}
.drawer .list-container input {
  background: #f9f9f9;
  border: 1px solid #e1e1e1 !important;
  font-size: 15px;
  font-weight: 300;
  outline: 0;
  padding: 15px 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.drawer .list-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.drawer .list-container ul li {
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0 20px;
}
.drawer .list-container ul li:hover {
  background: #f9f9f9;
  cursor: pointer;
}
.drawer .list-container ul li.selected {
  background: #f9f9f9;
}
.drawer .list-container ul li span {
  position: absolute;
}
/* RTL Styles */
html[dir="rtl"] header a.auth-menu {
  left: 0;
  right: auto;
}
html[dir="rtl"] header a.auth-menu i {
  float: right;
  margin-left: 8px;
  margin-right: auto;
}
html[dir="rtl"] header a.auth-menu p {
  float: right;
}
html[dir="rtl"] .flash-message #flash-dismiss-btn {
  left: 0;
  right: auto;
}
@media (max-width: 568px) {
  html[dir="rtl"] .flash-message {
    padding: 0 0 0 50px;
  }
}
html[dir="rtl"] .main-content {
  padding-left: 0;
  padding-right: 280px;
}
html[dir="rtl"] #properties-col {
  border-left: none;
  border-right: #e1e1e1 1px solid;
  left: 0;
  right: 660px;
}
@media (max-width: 1080px) {
  html[dir="rtl"] #properties-col {
    right: 380px;
  }
}
@media (max-width: 800px) {
  html[dir="rtl"] #properties-col {
    right: auto;
  }
}
html[dir="rtl"] #properties-col.fullwidth {
  left: 0;
  right: 280px;
}
@media (max-width: 1080px) {
  html[dir="rtl"] .main-content {
    padding-left: 0px;
    padding-right: 0px;
  }
  html[dir="rtl"] header a.auth-menu i {
    margin-left: 0;
    margin-right: auto;
  }
}
html[dir="rtl"] .categories-container ul li {
  border-left: none;
  border-right: none;
}
html[dir="rtl"] .categories-container ul li.selected {
  border-right: #fb850c 3px solid;
}
