/* Import nib */
@import 'nib'

/* Import snippets */
@import 'snippets'

/* Import variables */
@import 'variables'

/* Grab custom fonts from Google */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,300')

/* Nib provides a CSS reset */
global-reset()

html
	background-color light-grey

body
	font-family 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif

header
	background-color rgba(255, 255, 255, 0.1)
	background-color main-color
	line-height 50px
	padding 0
	position fixed
	top 0
	left 0
	right 0
	z-index 10

	a
		text-decoration none
		h4
			color white
			font-size 18px
			font-weight 300
			padding 0 15px
			strong
				font-weight 400

	a.auth-menu
		background-color main-color
		color white
		line-height 50px
		padding 0 20px
		position absolute
		right 0
		top 0
		transition(background .2s ease-out)
		i
			display none
			float left
			line-height inherit
			margin-right 8px
		p
			float left
			line-height inherit
			font-size 13px

	a.auth-menu:hover
		background-color darken(main-color, 10%)
		cursor pointer
	a.auth-menu:active
		background-color darken(main-color, 25%)

.flash-message
	background #3AF
	color #FFF
	height 50px
	line-height 50px
	opacity 0
	padding 0 50px 
	position fixed
	text-align center
	top -50px
	z-index 1000 
	left 0
	right 0
	transition(all 0.5s ease-in-out)
	#flash-dismiss-btn
		background-color rgba(0, 0, 0, 0.1)
		height 50px
		line-height 50px
		position absolute
		right 0
		text-align center 
		top 0
		width 50px
	&.active
		opacity 1
		top 0
	&.success
		background-color flash-success-color
	&.warning
		background-color flash-warning-color
	&.danger
		background-color flash-danger-color
		 
@media(max-width:568px)
	.flash-message
		padding 0 50px 0 0

.page-header
	padding 0 0 30px 0
	h2
		color main-color
		font-size 26px 
		font-weight 100 
			
.authenticated
	a.auth-menu
		i
			display block
			
#authenticate-overlay
	background-color main-color
	display block
	opacity 1
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	z-index 12
	transition(opacity .2s ease-out)
	#authenticate-logo
		padding 0 20px
		text-align center
		h4
			color white
			font-size 28px
			font-weight 300
			line-height 200px
			padding 0 15px
			strong
				font-weight 400

.authenticated
	#authenticate-overlay
		display none
		opacity 0
	
.main-content
	background-color light-grey
	padding-left sidebar-width

.col
	bottom 0px
	overflow scroll
	padding-top 50px
	position absolute
	top 0

#food-list-col
	background-color light-grey
	width 370px

#properties-col
	background-color white
	border-left #e1e1e1 1px solid
	left 600px
	right 0
	transition(left 0.6s ease-out)
#properties-col.fullwidth
	left sidebar-width

@media (max-width: 1080px)
	.col
		position relative
		bottom auto
		top auto
		left auto
		right auto
		width 100%

	#food-list-col
		width 100%

	#properties-col
		left 0
		padding-top 0
	#properties-col.fullwidth
		left 0
		padding-top 50px


#sidebar-button
	display none
	position absolute
	top 0px
	left 0px
	transition(background .2s ease-out)
	i
		color white
		line-height 50px
		padding 0 15px

#sidebar-button:hover
	background-color darken(main-color, 10%)
	cursor pointer

.sidebar
	background-color sidebar-color
	bottom 0
	left 0
	overflow scroll
	padding-top 50px
	position absolute
	top 0
	width sidebar-width
	z-index 9
	transition-timing-function: cubic-bezier(0.1, 0.2, 0.3, 1.0);
	transition-duration: 0.4s;

	ul
		list-style none
		margin 0
		padding 0

		li
			a
				border-left transparent 3px solid
				color white
				display block
				font-size 13px
				line-height 48px
				margin 0
				padding 0 60px 0 20px
				position relative
				text-decoration none
	
				i
					font-size 11px
					line-height 48px
					position absolute
					right 10px
					top 0px
				
			a.active, a:hover
				border-left-color main-color
				cursor pointer

	.nested-li li
		background-color lighten(sidebar-color, 5%)
	
	.nested-li li a:hover
		border-left-color #aaa

@media (max-width: 1080px)
	.sidebar
		position fixed

@media (max-width: 600px)
	.main-content
		padding-left 0px

	header

		h4
			margin 0 50px
			text-align center

		a.auth-menu
			p
				display none
			i
				display block
				margin-right 0

	#sidebar-button
		display block

	.sidebar
		left - sidebar-width

	.sidebar.active
		left 0px

/* Buttons */
.btn
	background-color btn-default-color
	border 1px solid darken(btn-default-color, 5%)
	border-radius 6px
	float left
	font-size 13px
	margin 10px 10px 10px 0
	padding 12px 15px
	transition(all .2s ease-out)
	&:hover
		background-color darken(btn-default-color, 5%)
		cursor pointer
.success
	&:hover
		background-color darken(btn-success-color, 5%)
		border 1px solid darken(btn-success-color, 5%)
		color #FFF
.warning
	&:hover
		background-color darken(btn-warning-color, 5%)
		border 1px solid darken(btn-warning-color, 5%)
		color #FFF
.danger
	&:hover
		background-color darken(btn-danger-color, 5%)
		border 1px solid darken(btn-danger-color, 5%)
		color #FFF
		
input
	&.valid
		border-color border-valid-color !important
	&.invalid
		border-color border-invalid-color !important