/* Import nib */
/* Import snippets */
.clearfloat {
  clear: both;
  float: none;
}
/* Import color variables */
/* Grab custom fonts from Google */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");
/* Nib provides a CSS reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  background-color: #f9f9f9;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
header {
  background-color: rgba(255,255,255,0.1);
  background-color: #f63;
  line-height: 50px;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
header h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  padding: 0 15px;
}
header h4 strong {
  font-weight: 400;
}
header a.auth-menu {
  background-color: #f63;
  color: #fff;
  line-height: 50px;
  padding: 0 20px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}
header a.auth-menu i {
  display: none;
  float: left;
  line-height: inherit;
  margin-right: 8px;
}
header a.auth-menu p {
  float: left;
  line-height: inherit;
  font-size: 13px;
}
header a.auth-menu:hover {
  background-color: #ff4f14;
  cursor: pointer;
}
header a.auth-menu:active {
  background-color: #e63900;
}
.authenticated a.auth-menu i {
  display: block;
}
#authenticate-overlay {
  background-color: #f63;
  display: block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 12;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
#authenticate-overlay #authenticate-logo {
  padding: 0 20px;
  text-align: center;
}
#authenticate-overlay #authenticate-logo h4 {
  color: #fff;
  font-size: 28px;
  font-weight: 300;
  line-height: 200px;
  padding: 0 15px;
}
#authenticate-overlay #authenticate-logo h4 strong {
  font-weight: 400;
}
.authenticated #authenticate-overlay {
  display: none;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.main-content {
  background-color: #f9f9f9;
  padding-left: 230px;
}
.col {
  bottom: 0px;
  overflow: scroll;
  padding-top: 50px;
  position: absolute;
  top: 0;
}
.food-list-col {
  background-color: #f9f9f9;
  width: 370px;
}
.properties-col {
  background-color: #fff;
  border-left: #e1e1e1 1px solid;
  left: 600px;
  right: 0;
}
@media (max-width: 1080px) {
  .col {
    position: relative;
    bottom: auto;
    top: auto;
    left: auto;
    right: auto;
    width: 100%;
  }
  .food-list-col {
    width: 100%;
  }
  .properties-col {
    padding-top: 0;
  }
}
#sidebar-button {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}
#sidebar-button i {
  color: #fff;
  line-height: 50px;
  padding: 0 15px;
}
#sidebar-button:hover {
  background-color: #ff4f14;
  cursor: pointer;
}
.sidebar {
  background-color: #222d32;
  bottom: 0;
  left: 0;
  overflow: scroll;
  padding-top: 50px;
  position: absolute;
  top: 0;
  width: 230px;
  z-index: 9;
  -webkit-transition-timing-function: cubic-bezier(0.1, 0.2, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.1, 0.2, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.1, 0.2, 0.3, 1);
  -ms-transition-timing-function: cubic-bezier(0.1, 0.2, 0.3, 1);
  transition-timing-function: cubic-bezier(0.1, 0.2, 0.3, 1);
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar ul li a {
  border-left: transparent 3px solid;
  color: #fff;
  display: block;
  font-size: 13px;
  line-height: 48px;
  margin: 0;
  padding: 0 60px 0 20px;
  position: relative;
  text-decoration: none;
}
.sidebar ul li a i {
  font-size: 11px;
  line-height: 48px;
  position: absolute;
  right: 10px;
  top: 0px;
}
.sidebar ul li a.active,
.sidebar ul li a:hover {
  border-left-color: #f63;
  cursor: pointer;
}
.sidebar .nested-li li {
  background-color: #2b383f;
}
.sidebar .nested-li li a:hover {
  border-left-color: #aaa;
}
@media (max-width: 1080px) {
  .sidebar {
    position: fixed;
  }
}
@media (max-width: 600px) {
  .main-content {
    padding-left: 0px;
  }
  header h4 {
    margin: 0 50px;
    text-align: center;
  }
  header a.auth-menu p {
    display: none;
  }
  header a.auth-menu i {
    display: block;
    margin-right: 0;
  }
  #sidebar-button {
    display: block;
  }
  .sidebar {
    left: -230px;
  }
  .sidebar.active {
    left: 0px;
  }
}
/* Buttons */
.btn {
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  float: left;
  font-size: 13px;
  margin: 10px 10px 10px 0;
  padding: 12px 15px;
}
