/* Import CSS snippets */
.clearfloat {
  clear: both;
  float: none;
}
/* Import color variables */
.intake-modal {
  background: #fff;
  border-radius: 4px;
  display: none;
  left: 50%;
  margin-left: -300px;
  overflow: hidden;
  position: absolute;
  top: 200px;
  width: 600px;
  z-index: 50;
}
@media (max-width: 600px) {
  .intake-modal {
    width: 300px;
    margin-left: -150px;
  }
}
.intake-modal #button-close-modal {
  line-height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  text-align: center;
  width: 50px;
}
.intake-modal #button-close-modal i {
  color: #ccc;
  font-size: 1.4em;
  line-height: inherit;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.intake-modal #button-close-modal:hover {
  cursor: pointer;
}
.intake-modal #button-close-modal:hover i {
  color: #f00;
}
.intake-modal .intake-modal-title {
  font-size: 28px;
  font-weight: 100;
  height: 100px;
  line-height: 100px;
  padding: 0 50px;
  text-align: center;
}
.intake-modal .intake-modal-content {
  padding: 0 30px 30px 30px;
}
.intake-modal .modal-footer {
  border-top: #e1e1e1 1px solid;
  padding: 20px 30px;
}
.intake-modal .modal-footer button {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
.intake-modal.modal-narrow {
  margin-left: -200px;
  width: 400px;
}
@media (max-width: 600px) {
  .intake-modal.modal-narrow {
    width: 300px;
    margin-left: -150px;
  }
}
.intake-modal.active {
  display: block;
}
#modal-authenticate,
#modal-logout {
  text-align: center;
}
#modal-authenticate input,
#modal-logout input {
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  display: block;
  font-size: 15px;
  margin: 0 auto 15px auto;
  min-width: 240px;
  outline: 0;
  padding: 15px 25px;
  text-align: center;
}
@media (max-width: 800px) {
  #modal-authenticate input,
  #modal-logout input {
    min-width: 200px;
  }
}
#modal-authenticate button,
#modal-logout button {
  background-color: #f63;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  padding: 12px 30px;
}
#modal-backdrop {
  background-color: rgba(0,0,0,0.5);
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
}
#modal-backdrop.active {
  display: block;
}
/* RTL Styles */
html[dir="rtl"] .intake-modal #button-close-modal {
  left: 0;
  right: auto;
}
