/* Import CSS snippets */
.clearfloat {
  clear: both;
  float: none;
}
/* Import color variables */
.portion-size-method {
  background-color: #f9f9f9;
  border: #ededed 1px solid;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.portion-size-method .units-list {
  background-color: #fff;
  border: #ededed 1px solid;
  font-size: 12px;
  margin: 20px 0 10px 0;
}
.portion-size-method .units-list .row {
  width: 100%;
}
.portion-size-method .units-list .row:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}
.portion-size-method .units-list .row .column {
  float: left;
  width: 33.333%;
}
.portion-size-method .units-list .row .column .unit-cell {
  padding: 0px;
}
.portion-size-method .units-list .row .column .unit-cell input {
  background: transparent !important;
  border: none !important;
  width: auto !important;
}
.portion-size-method .units-list .row .column .unit-cell input[type="checkbox"] {
  height: 30px;
}
.portion-size-method .units-list .row.header {
  background-color: #fff !important;
  border-bottom: #ededed 1px solid;
}
.portion-size-method .units-list .row.header .column .unit-cell {
  font-weight: bold;
  padding: 10px;
}
.portion-size-method .as-served .inline-link {
  color: #999;
  display: inline-block;
  font-size: 14px;
}
.portion-size-method .as-served .inline-link i {
  color: #999;
  margin: 0 6px;
}
.portion-size-method .as-served .inline-link:hover {
  color: #f63;
  cursor: pointer;
}
