/* Import CSS snippets */
@import 'snippets'

/* Import color variables */
@import 'variables'
		
.properties-container
	display none
	position relative
	
	.properties-padding
		padding 30px 30px 120px 30px
		@media(max-width: 800px)
			padding 30px

		hr
			border none
			border-bottom #e1e1e1 1px solid

		.property
			margin-bottom 50px

			h3
				color dark-font-color
				font-size 20px
				padding-bottom 15px

			.input-wrapper
				display block
				margin-bottom 0px
				min-height 45px
				padding-left 0px

				label
					display inline-block
					font-size 13px
					line-height 45px
					margin-right 20px
					min-width 120px

				input, select, textarea
					border 1px solid #e1e1e1
					border-radius 4px

				input
					outline 0
					padding 10px 12px
					width 200px 
					
				input[type="range"]
					padding 0

				select
					height 36px
					line-height 45px
					outline 0
					width 220px

				textarea
					width 320px
					outline 0
					padding 8px 10px
		
		.property:last-child
			margin-bottom 0px

	.properties-footer
		background #fff
		border-top #e1e1e1 1px solid
		bottom 0
		padding 5px 15px
		position fixed
		width 100%
		@media(max-width: 800px)
			position relative !important
			width auto

			
/* RTL Styles */

html[dir="rtl"]
	
	.properties-container
		.properties-padding
			.property
				.input-wrapper
					padding-right 0px

					label
						margin-left 20px
						margin-right auto