/* Import CSS snippets */
.clearfloat {
  clear: both;
  float: none;
}
/* Import color variables */
.properties-container {
  display: none;
}
.properties-container .properties-padding {
  padding: 30px 30px 120px 30px;
}
@media (max-width: 800px) {
  .properties-container .properties-padding {
    padding: 30px;
  }
}
.properties-container .properties-padding hr {
  border: none;
  border-bottom: #e1e1e1 1px solid;
}
.properties-container .properties-padding .property {
  margin-bottom: 50px;
}
.properties-container .properties-padding .property h3 {
  color: #444;
  font-size: 20px;
  padding-bottom: 15px;
}
.properties-container .properties-padding .property .input-wrapper {
  display: block;
  margin-bottom: 0px;
  min-height: 45px;
  padding-left: 0px;
}
.properties-container .properties-padding .property .input-wrapper label {
  display: inline-block;
  font-size: 13px;
  line-height: 45px;
  margin-right: 20px;
  min-width: 120px;
}
.properties-container .properties-padding .property .input-wrapper input,
.properties-container .properties-padding .property .input-wrapper select,
.properties-container .properties-padding .property .input-wrapper textarea {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
.properties-container .properties-padding .property .input-wrapper input {
  outline: 0;
  padding: 10px 12px;
  width: 200px;
}
.properties-container .properties-padding .property .input-wrapper input[type="range"] {
  padding: 0;
}
.properties-container .properties-padding .property .input-wrapper select {
  height: 36px;
  line-height: 45px;
  outline: 0;
  width: 220px;
}
.properties-container .properties-padding .property .input-wrapper textarea {
  width: 320px;
  outline: 0;
  padding: 8px 10px;
}
.properties-container .properties-padding .property:last-child {
  margin-bottom: 0px;
}
.properties-container .properties-footer {
  background: #fff;
  border-top: #e1e1e1 1px solid;
  bottom: 0;
  padding: 5px 15px;
  position: fixed;
  width: 100%;
}
@media (max-width: 800px) {
  .properties-container .properties-footer {
    position: relative !important;
    width: auto;
  }
}
/* RTL Styles */
html[dir="rtl"] .properties-container .properties-padding .property .input-wrapper {
  padding-right: 0px;
}
html[dir="rtl"] .properties-container .properties-padding .property .input-wrapper label {
  margin-left: 20px;
  margin-right: auto;
}
