/* Import CSS snippets */
.clearfloat {
  clear: both;
  float: none;
}
/* Import color variables */
.properties-container {
  display: none;
  padding: 30px;
}
.properties-container hr {
  border: none;
  border-bottom: #e1e1e1 1px solid;
}
.properties-container .property {
  margin-bottom: 50px;
}
.properties-container .property h3 {
  color: #444;
  font-size: 20px;
  padding-bottom: 15px;
}
.properties-container .property .input-wrapper {
  display: block;
  margin-bottom: 10px;
  padding-left: 0px;
}
.properties-container .property .input-wrapper label {
  display: inline-block;
  font-size: 13px;
  margin-right: 20px;
  min-width: 120px;
}
.properties-container .property .input-wrapper input,
.properties-container .property .input-wrapper select,
.properties-container .property .input-wrapper textarea {
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  min-width: 200px;
}
.properties-container .property .input-wrapper input {
  outline: 0;
  padding: 10px 12px;
}
.properties-container .property .input-wrapper select {
  height: 36px;
  width: 220px;
  outline: 0;
}
.properties-container .property .input-wrapper textarea {
  width: 320px;
  outline: 0;
  padding: 8px 10px;
}
.properties-container .property:last-child {
  margin-bottom: 0px;
}
.portion-size-method {
  background-color: #f2f2f2;
  padding: 10px 20px;
}
.portion-size-method .units-list {
  background-color: #fff;
  font-size: 12px;
  margin: 20px 0 10px 0;
}
.portion-size-method .units-list .row {
  width: 100%;
}
.portion-size-method .units-list .row:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.portion-size-method .units-list .row .column {
  float: left;
  width: 33.333%;
}
.portion-size-method .units-list .row .column .unit-cell {
  padding: 10px;
}
.portion-size-method .units-list .row.header {
  background-color: #fff !important;
  border-bottom: #e1e1e1 1px solid;
}
.portion-size-method .units-list .row.header .column .cell {
  font-weight: bold;
}
