/* Import color variables */
/* Import CSS snippets */
.clearfloat {
  clear: both;
  float: none;
}
.search-field-wrapper {
  background: #f9f9f9;
  border-bottom: #e1e1e1 1px solid;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.search-field-wrapper .search-field {
  border: none;
  overflow: hidden;
  padding: 0 0 0 20px;
  position: relative;
  margin: 0 auto;
  width: 16px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.search-field-wrapper .search-field i {
  color: #d9d9d9;
  position: absolute;
  top: 15px;
  left: 10px;
}
.search-field-wrapper .search-field #search-field {
  background: transparent;
  border: none;
  font-size: 14px;
  margin: 0;
  outline: none;
  padding: 15px 15px;
  width: 330px;
}
.search-field-wrapper.active {
  background: #fff;
  padding: 0;
}
.search-field-wrapper.active .search-field {
  margin: 0 auto;
  width: 330px;
}
#search-results {
  display: none;
}
#search-results.visible {
  display: flex;
}
#search-results ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
#search-results ul li {
  border-bottom: #efefef 1px solid;
  border-left: 3px solid transparent;
  color: #444;
  font-size: 16px;
  line-height: 1.5em;
  padding: 15px 12px;
  -webkit-transition: border 0.2s ease-out;
  -moz-transition: border 0.2s ease-out;
  -o-transition: border 0.2s ease-out;
  transition: border 0.2s ease-out;
}
#search-results ul li.active {
  border-left: 3px solid #f63;
  background-color: #f9f9f9;
}
#search-results ul li:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}
.view-toggle {
  background-color: #3af;
  bottom: 10px;
  border-radius: 25px;
  display: block;
  left: 50%;
  margin-left: -25px;
  position: fixed;
  z-index: 9;
  text-align: center;
  width: 50px;
}
.view-toggle.inactive {
  display: none !important;
}
@media (min-width: 800px) {
  .view-toggle {
    display: none !important;
  }
}
.view-toggle i {
  color: #fff;
  font-size: 12px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.view-toggle i i {
  margin: 0 10px;
}
.view-toggle i:hover {
  background-color: #149dff;
  border-radius: 25px;
  cursor: pointer;
}
/* RTL Styles */
html[dir="rtl"] .search-field-wrapper .search-field {
  padding: 0 20px 0 0;
}
html[dir="rtl"] .search-field-wrapper .search-field i {
  left: auto;
  right: 10px;
}
html[dir="rtl"] #search-results ul li {
  border-left: none;
  border-right: 3px solid transparent;
}
html[dir="rtl"] #search-results ul li.active {
  border-left: none;
  border-right: 3px solid #f63;
}
