.ui-select-container {
  display: inline-block;
}
.ui-select-container .ui-select-choices {
  width: auto;
  min-width: 200px;
}
.ui-select-match {
  width: 200px;
}
.ui-select-match-text {
  max-width: 165px;
  overflow: hidden;
}
