.ui-select

    $width = 200px

    &-container
        display inline-block

        .ui-select-choices
            width auto
            min-width $width

    &-match
        width $width

        &-text
            max-width 165px
            overflow hidden