/* Useful Snippets */

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  transition arguments

border-right()
  border-top-right-radius arguments
  border-bottom-right-radius arguments

.clearfloat
	clear both
	float none