<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 pt-2">
            <h1>{{title}}</h1>

            <ul class="nav nav-tabs">
                <li ng-repeat="view in getViewList()"
                    ng-class="{active: view.active}">
                    <a ng-href="#{{view.getUrl(surveyId)}}">{{view.name}}</a>
                </li>
            </ul>

            <div class="pt-2">
                <survey-description ng-if="directiveViews.general.active"
                                    survey="survey"></survey-description>
                <survey-results ng-if="directiveViews.results.active"
                                survey="survey"></survey-results>
                <survey-users ng-if="directiveViews.users.active"
                              survey-id="survey.id"></survey-users>
            </div>

        </div>
    </div>
</div>