<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 pt-2">
            <div ng-if="!survey">
                <h1>
                    <i class="fa fa-spinner fa-spin"></i>
                    Loading
                </h1>
            </div>
            <div ng-if="survey">
                <h1 ng-if="survey">
                    {{survey.id}}
                </h1>

                <button type="button" class="btn btn-link pull-right" ng-click="delete()"
                        ng-if="currentUser.canCreateSurveys()">
                    Delete survey
                </button>

                <ul class="nav nav-tabs">
                    <li ng-repeat="view in getViewList()"
                        ng-class="{active: view.active}">
                        <a ng-href="#{{view.getUrl(surveyId, taskId)}}">{{view.name}}</a>
                    </li>
                </ul>

                <div class="pt-2">
                    <survey-general ng-if="directiveViews.general.active"
                                    survey="survey"></survey-general>
                    <survey-description ng-if="directiveViews.description.active"
                                        survey="survey" field="description"></survey-description>
                    <survey-description ng-if="directiveViews.finalPage.active"
                                        survey="survey" field="finalPageHtml"></survey-description>
                    <survey-results ng-if="directiveViews.results.active"
                                    survey="survey"></survey-results>
                    <survey-users ng-if="directiveViews.users.active"
                                  survey-id="survey.id"></survey-users>
                </div>
            </div>
        </div>
    </div>
</div>