//- Incomplete

.input-wrapper
	label #{ gettext("Guide Image") }
	input(placeholder='#{ gettext("e.g. path/filename.jpg") }' ng-model='portionSize.imageUrl')

.btn.danger
	span #{ gettext("Delete this method") }
.clearfloat