.input-wrapper
	label #{ gettext("Drinkware set") }
	.inline-link(ng-click='showDrinkwareDrawer(portionSize.parameters)')
		span(ng-if='!portionSize.parameters.drinkware_id')
			p #{ gettext("Select drinkware set") }
		span(ng-if='portionSize.parameters.drinkware_id')
			{{ portionSize.parameters.drinkware_id }}

.input-wrapper
	label #{ gettext("Initial fill level") } ({{portionSize.parameters.initial_fill_level}})
	input(type='range' min='0' max='1' step='0.05' ng-model='portionSize.parameters.initial_fill_level')

.input-wrapper
	label #{ gettext("Skip fill level prompt") }
	input(type='checkbox' ng-model='portionSize.parameters.skip_fill_level')
.clearfloat
