.input-wrapper
	label #{ gettext("Guide image") }
	.inline-link(ng-click='showGuideImageDrawer(portionSize.parameters)')
		span(ng-if='!portionSize.parameters.guide_image_id')
			p #{ gettext("Select image set") }
		span(ng-if='portionSize.parameters.guide_image_id')
			{{ portionSize.parameters.guide_image_id }}
.clearfloat
