<div>
    <div class="form-group">
        <button class="btn btn-default btn-block"
                ng-disabled="!saveIsActive() || viewIsDisabled()"
                ng-click="save()">
            {{loading ? 'Saving...' : 'Save'}}
        </button>
    </div>
    <div class="form-group">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a href="" class="btn btn-default"
               ng-disabled="viewIsDisabled()"
               ng-click="addPath()">Add path</a>
            <div class="btn-group" uib-dropdown>
                <a href="" class="btn btn-default"
                   ng-disabled="viewIsDisabled()"
                   uib-dropdown-toggle>
                    <i class="fa fa-ellipsis-v"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                    <li>
                        <a href="" ng-click="recognisePaths()">Recognise foods</a>
                    </li>
                    <li>
                        <a href="" ng-click="removeAll()">Remove all</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="guides-drawer-path-info" ng-repeat="item in getObjects()">
        <div class="form-group">
            <label class="radio-inline"
                   ng-mouseover="highlightsPath(item)"
                   ng-mouseleave="highlightsPath()">
                <input type="radio"
                       name="guides-drawer-path-selected"
                       class="guides-drawer-path-select"
                       ng-checked="item == selectedItem"
                       ng-click="selectPath(item)">
                Path #
                <input type="number" min="0" step="1" class="guides-drawer-path-info-index-input"
                       placeholder="Index" ng-model="item.navigationIndex">
            </label>
            <a href="" class="close" ng-click="removePath(item)">&times;</a>
        </div>
        <div class="form-group" ng-class="{'has-error': !weightIsValid(item.weight)}">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Weight"
                       ng-model="item.weight">
                <div class="input-group-addon">g</div>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': !fieldIsNotEmpty(item.description)}">
            <input type="text" class="form-control" placeholder="Description"
                   ng-model="item.description">
        </div>
    </div>
</div>