<div class="page-block">
    <div class="search-input-group">
        <search-input ng-model="searchQuery"></search-input>
        <div class="search-input-addon">
            <button type="button" ng-click="addItem()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="search-input-addon" uib-dropdown>
            <button type="button" uib-dropdown-toggle id="user-manager-tools-dropdown">
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu
                aria-labelledby="user-manager-tools-dropdown">
                <li>
                    <a href="" ng-click="toggleShowDeleted()">
                        {{ showDeleted ? 'Hide deleted' : 'Show deleted' }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <p ng-hide="getFilteredItems().length">
        No users found
    </p>
    <ul class="user-manager-list">
        <li ng-repeat="item in getFilteredItems() | orderBy: 'login'">
            {{item.login}}
            <span class="label label-danger" ng-show="item.deleted">
                Deleted
            </span>
            <button type="button" class="btn btn-link btn-sm" ng-click="editItem(item)">
                <i class="fa fa-pencil"></i>
            </button>
            <button type="button" class="btn btn-link btn-sm" ng-click="removeItem(item)">
                <i class="fa fa-times"></i>
            </button>
        </li>
    </ul>
</div>

<user-manger-drawer></user-manger-drawer>
