<span class="editable" ng-class="{empty: !ngModel}">
    <span class="editable-placeholder"
          ng-show="getPlaceholderIsVisible()"
          ng-click="focus()"
          ng-class="{error: getNotValid()}">{{placeholder}}</span>
    <span ng-hide="ngDisabled"
          contenteditable
          ng-model="ngModel"
          ng-blur="setBlured()"
          ng-focus="setFocused()"></span>
    <span class="editable-disabled" ng-show="ngDisabled">{{ngModel}}</span>
    <i class="fa fa-pencil editable-icon" ng-show="!focused && !ngDisabled"></i>
</span>