.properties-container#add-new-category-container(ng-if="currentItem != null && currentItem.type == 'category' && newItem")

    .properties-body

        .page-header
            h2 #{ gettext("Add new category") }

        include forms/new-category-properties

    .properties-footer
        .input-wrapper
            button.intake-btn.success(type="button" ng-click='saveNewCategory()'
                                      ng-disabled="forceDisabledButtons || notValid()")
                span #{ gettext("Add category") }
            button.intake-btn.danger(type="button" ng-click='cancelNewCategory()')
                span #{ gettext("Cancel") }
            .clearfloat
