.properties-container#add-new-food-container(ng-if="currentItem != null && currentItem.type == 'food' && newItem")


	.properties-body
		
		.page-header
			h2 #{ gettext("Add new food") }

		include forms/new-food-properties

	.properties-footer
		.input-wrapper
			button.intake-btn.success(type="button" ng-click='saveNewFood()'
										ng-disabled="forceDisabledButtons || notValid()")
				span #{ gettext("Add food") }
			button.intake-btn.danger(type="button" ng-click='cancelNewFood()')
				span #{ gettext("Cancel") }
			.clearfloat
