.col#food-list-col(ng-controller="ExplorerController")

	include view-toggle
	
	include search
	
	.food-list-container(ng-class="{visible: explorerIsVisible}")
		.food-list
			ul
				li(ng-repeat='(index, value) in rootCategories.slice(0, 1)'
				ng-include='"node"' ng-class='(value.open) ? "node-open" : "node-closed"'
				ng-hide="getNodeIsHidden(value)")
				li(ng-repeat='(index, value) in getSortedList(rootCategories.slice(1))'
				ng-include='"node"' ng-class='(value.open) ? "node-open" : "node-closed"'
				ng-hide="getNodeIsHidden(value)")

include food-problems

script(type="text/ng-template", id="node")
	include node
