<div class="container-fluid pt-2">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-xs-12">
            <h1>New survey</h1>
            <form>
                <div class="form-group" ng-class="{'has-error': !formValidation.name}">
                    <label class="control-label">Survey name</label>
                    <input type="text" class="form-control input-lg" placeholder="Survey name"
                           ng-model="name">
                </div>
                <div class="form-group" ng-class="{'has-error': !formValidation.supportEmail}">
                    <label class="control-label">Contact email</label>
                    <input type="text" class="form-control" placeholder="admin@example.com"
                           ng-model="supportEmail">
                </div>
                <div class="form-group">
                    <label class="control-label">Locale</label>
                    <select class="form-control" ng-model="selectedLocale">
                        <option ng-repeat="item in locales"
                                value="{{item.id}}">{{item.englishName}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Follow up survey URL</label>
                    <input type="text" class="form-control" placeholder="https://externalsurvey.com/mySurvey"
                           ng-model="externalFollowUpUrl">
                </div>
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="allowGeneratedUsers">
                        Allow generate users
                    </label>
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-success" ng-click="save()">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>