.search-input-group
    search-input(ng-model="searchQuery")
    .search-input-addon
        file-button(on-change="onFilesChange(fileList)")
            button(type="button" ng-click="addImage()")
                i.fa.fa-plus
    .search-input-addon(uib-dropdown auto-close="outsideClick")
        button(type="button" uib-dropdown-toggle id="tools-dropdown")
            i.fa.fa-angle-down
        ul.dropdown-menu.dropdown-menu-right(uib-dropdown-menu aria-labelledby="tools-dropdown")
            li
                a(href="" ng-click="selectAll()") Select all
            li
                a(href="" ng-click="deselectAll()") Deselect all
            li(ng-show="copiedTags.length > 0")
                a(href="" ng-click="pasteTagsToSelected()") Paste tags to selected
            li.divider
            li
                a(href="" ng-click="removeSelected()") Remove selected

file-drop-zone(on-dropped="onFilesChange(fileList)")
    .container-fluid.intk-gallery
        .intk-gallery-item(ng-repeat="item in getFilteredImages() track by $index")
            .intk-gallery-item-img
                div(img-loader src="item.src")
                .intk-gallery-item-blank(ng-class="{'visible': item.selected || item.loading}")
                    div.pull-right(uib-dropdown)
                        button.btn.btn-default.btn-tools(uib-dropdown-toggle)
                            i.fa.fa-ellipsis-v
                        ul.dropdown-menu.dropdown-menu-right(uib-dropdown-menu)
                            li
                                a(href="" ng-click="copyTags(item)") Copy tags
                            li.divider
                            li
                                a(href="" ng-click="removeItem(item)") Remove image

                    button.btn-select(ng-click="select(item)")
                        i.fa(ng-class="{'fa-check-circle-o': item.getItemSelected(), 'fa-circle-o': item.getItemDeselected(), 'fa-spinner fa-spin': item.loading }")

            .intk-gallery-item-tools
                tag-input(tags="item.tags" disabled="item.disabled")
