.page-block
    include search

.container-fluid
    .intk-gallery-item(ng-repeat="item in images")
        .intk-gallery-item-img
            div(img-loader src="item.src")
            .intk-gallery-item-blank
        .intk-gallery-item-tools
            tag-input(tags="item.tags")
