.page-block
    search-input(ng-model="searchQuery")

.container-fluid
    .intk-gallery-item(ng-repeat="item in getFilteredImages()")
        .intk-gallery-item-img
            div(img-loader src="item.src")
            .intk-gallery-item-blank
        .intk-gallery-item-tools
            tag-input(tags="item.tags")
