extend ../layout

block vars
    - var ngAppName = 'intake24.gallery'

block content
    div(ng-view)

    script(type="text/ng-template" id="views/image-gallery/image-gallery-main.jade")
        include image-gallery-main

    script(type="text/ng-template" id="views/image-gallery/image-as-served.jade")
        include image-gallery-as-served

block sidebar
    include sidebar