.property
	h3 #{ gettext("Definition") }

	include basic-fields

	.form-group
		.col-xs-9.col-xs-offset-3
			label.checkbox-inline
				input(type='checkbox' ng-model='itemDefinition.main.isHidden' ng-disabled='!currentUserCanUpdateMainFields')
				span #{ gettext("Hidden") }

	include properties-locale

include inheritable-properties

include parent-categories

include portion-size
