.property
    h3 #{ gettext("Nutrient codes") }

    .form-group(ng-repeat='(id, code) in itemDefinition.local.nutrientTableCodes')
        label.col-xs-3.control-label(for="input-{{ id }}-code") {{ id }}
        .col-xs-6
            .input-group
                input.form-control(id='input-{{ id }}-code' type='text'
                                    placeholder=gettext("e.g. 10968")
                                    ng-model='itemDefinition.local.nutrientTableCodes[id]')
                .input-group-btn
                    button.btn.btn-default(type="button" ng-click="nutrientCodeSection.removeTable(id)")
                        i(class="fa fa-remove")

    .form-group(ng-hide="nutrientCodeSection.buttonDisabled()")
        .col-xs-12
            .intake-dropdown(ng-class="{open: nutrientCodeSection.dropDownOpened}")
                button.intake-btn(type="button" ng-click="nutrientCodeSection.toggleDropDown()")
                    span #{ gettext("add_nutrient_code") }
                    i(class="fa fa-caret-down")
                ul.intake-dropdown-menu
                    li(ng-repeat="item in nutrientCodeSection.filteredTables()")
                        a(href="" ng-click="nutrientCodeSection.addTable(item.id)")
                            span {{item.id}}
