.property
    h3 #{ gettext("Definition") }

    include food-basic-fields

    .form-group
        .col-xs-9.col-xs-offset-3
            label.checkbox-inline
                input(type='checkbox' ng-model='itemDefinition.main.isHidden')
                span #{ gettext("Hidden") }

include parent-categories
