.property(ng-controller="CategoriesController")
    h3 #{ gettext("Categories") }
    .form-group
        .col-xs-12
            .categories-container
                ul
                    li(ng-repeat='category in getParentCategories()'
                        ng-attr-dir="{{getCategoryTextDirection(category)}}") {{getNodeDisplayName(category)}}

    .form-group
        .col-xs-12
            button.intake-btn.success(type="button" ng-click='showParentCategoriesDrawer($parent.itemDefinition.main.parentCategories)')
                span #{ gettext("Manage categories") }
