.form-group
    .col-xs-9.col-xs-offset-3
        label.checkbox-inline
            input(type='checkbox' ng-model='useExclusivelyInThisLocale' ng-model-options='{getterSetter: true}')
            span #{ gettext("properties_use_exclusively_in_this_locale") }
.form-group
    .col-xs-9.col-xs-offset-3
        label.checkbox-inline
            input(type='checkbox' ng-model='itemDefinition.local.excludedFromThisLocale')
            span #{ gettext("properties_do_not_use_in_this_locale") }
