<div ng-controller="FoodCompositionEditController">
    <div class="intake24-database-tool">
        <div class="mb-2">
            <a class="btn btn-default" href="#/database-tools/composition-tables"><span
                    class="fa fa-chevron-left"></span>&nbsp;
                Back to table list</a>
        </div>

        <form>
            <div class="form-group">
                <label class="control-label">ID</label>
                <input class="form-control" type="text" ng-model="table.id"/>
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <input class="form-control" type="text" ng-model="table.description"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="save()"><span class="fa fa-save"></span>&nbsp;Save
                    changes
                </button>
            </div>
            <h3>Source spreadsheet mapping</h3>

            <div class="form-group">
                <label class="control-label">Record ID column</label>
                <input class="form-control" type="text" ng-model="idColumnOffsetModel"
                       ng-model-options="{ getterSetter: true }"/>
            </div>

            <div class="form-group">
                <label class="control-label">Description column</label>
                <input class="form-control" type="text" ng-model="descriptionColumnOffsetModel"
                       ng-model-options="{ getterSetter: true }"/>
            </div>

            <div class="form-group">
                <label class="control-label">Local description column (leave blank if N/A)</label>
                <input class="form-control" type="text" ng-model="localDescriptionColumnOffsetModel"
                       ng-model-options="{ getterSetter: true }"/>
            </div>

            <div class="form-group">
                <label class="control-label">Number of rows to skip (e.g. header or blank rows)</label>
                <input class="form-control" type="text" ng-model="table.mapping.rowOffset"/>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" ng-click="nutrientColumnsCollapsed = !nutrientColumnsCollapsed">Nutrient
                    columns
                    <span class="fa fa-chevron-right" ng-if="nutrientColumnsCollapsed"></span>
                    <span class="fa fa-chevron-down" ng-if="!nutrientColumnsCollapsed"></span></button>
            </div>

            <div class="form-group" ng-hide="nutrientColumnsCollapsed">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Intake24 nutrient</th>
                        <th>CSV column</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-if="!(nutrients && table)">
                        <td class="col-sm-4"><i class="fa fa-spinner fa-spin"></i></td>
                        <td class="col-sm-2"></td>
                        <td></td>
                    </tr>

                    <tr ng-if="nutrients && table" ng-repeat="col in table.mapping.nutrientColumns">
                        <td class="col-sm-4">
                            <ui-select ng-model="col.nutrientId" theme="bootstrap" title="Choose a nutrient">
                                <ui-select-match placeholder="Type to search for a nutrient">{{$select.selected.name}}
                                    ({{$select.selected.unit}})
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="nutrient.id as nutrient in nutrients | filter: { name : $select.search }">
                                    <div>{{ nutrient.name }} ({{nutrient.unit}})</div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td class="col-sm-2"><input pattern="[a-zA-Z]+" type="text" class="form-control"
                                                    ng-model="columnOffsetModel.bind(col)"
                                                    ng-model-options=" { getterSetter: true } "></td>
                        <td>
                            <button class="btn btn-xs btn-danger" ng-click="deleteMappingColumn(col)"><span
                                    class="fa fa-remove"></span>&nbsp; Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <button class="btn btn-sm btn-default" ng-click="addMappingColumn()"><span class="fa fa-plus"></span>&nbsp;
                    Add nutrient
                </button>
                <button class="btn btn-default btn-sm" ng-click="save()"><span class="fa fa-save"></span>&nbsp;Save
                    changes
                </button>
            </div>

            <h3>Nutrient data</h3>

            <div class="form-group">
                <button class="btn btn-default"><span class="fa fa-upload"></span>&nbsp;Upload spreadsheet</button>
            </div>

        </form>
    </div>
</div>
