<div class="modal" ng-show="isVisible">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">New survey</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group" ng-class="{'has-error': !formValidation.name}">
                        <label class="col-xs-3 control-label">Survey name</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control input-lg" placeholder="Survey name"
                                   ng-model="name">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': !formValidation.supportEmail}">
                        <label class="col-xs-3 control-label">Contact email</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" placeholder="admin@example.com"
                                   ng-model="supportEmail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Locale</label>
                        <div class="col-xs-9">
                            <select class="form-control" ng-model="selectedLocale">
                                <option ng-repeat="item in locales"
                                        value="{{item.id}}">{{item.englishName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Follow up survey URL</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" placeholder="https://externalsurvey.com/mySurvey"
                                   ng-model="externalFollowUpUrl">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-9 col-xs-offset-3">
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="allowGeneratedUsers">
                                Allow generate users
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="close()">Close</button>
                <button type="button" class="btn btn-success" ng-click="save()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop" ng-show="isVisible"></div>