.sidebar(ng-class='{"active": $parent.sidebaropen}')
    ul
        li.sidebar-btn(ng-class="{'active': !menuItems.foodExplorer.collapsed}")
            a(ng-click='toggleItem("foodExplorer")' ng-class="{'active': menuItems.foodExplorer.active}")
                | #{ gettext("sidebar_food_explorer") }
                i.fa(ng-class="!menuItems.foodExplorer.collapsed ? 'fa-chevron-down' : 'fa-chevron-left'")
            ul.nested-li
                li.sidebar-btn(ng-repeat='(index, value) in locales | orderBy:["localName"]')
                    a(ng-href="/{{value.id}}/{{value.adminLanguage}}\#{{menuItems.foodExplorer.href}}" ng-class='{"active": currentLocale == value.id}')
                        i.flag(ng-class='value.flagCode')
                        | &nbsp;{{ value.localName }}