<div ng-class="{'row': !collapsed}">
    <div class="col-sm-8 col-xs-7" ng-hide="collapsed">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="set_title"
                       ng-model="newName" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Set description"
                       ng-model="newDescription" required>
            </div>
        </form>
    </div>
    <div ng-class="{'col-sm-4 col-xs-5 text-right': !collapsed, 'pull-right': collapsed}">
        <div class="pull-right">
            <button class="btn btn-default"
                    ng-click="toggle()"
                    ng-disabled="loading || getNotValid()">
                <i class="fa" ng-class="{'fa-pencil': collapsed && !loading,
                                 'fa-check': !collapsed && !loading,
                                 'fa-spinner fa-spin': loading}"></i>
            </button>
            <button class="btn btn-default"
                    ng-click="cancel()"
                    ng-disabled="loading"
                    ng-hide="collapsed">
                <i class="fa" ng-class="{'fa-angle-left': !loading,
                                 'fa-spinner fa-spin': loading}"></i>
            </button>
            <span uib-dropdown>
                <button class="btn btn-default" uib-dropdown-toggle ng-disabled="loading">
                    <i class="fa" ng-class="{'fa-ellipsis-v': !loading,
                                         'fa-spinner fa-spin': loading}"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                    <li>
                        <a href="" ng-click="addItem()">
                            Add image from gallery
                        </a>
                    </li>
                    <li>
                        <a href="" file-button on-change="onFilesChange(fileList)">
                            Add image from file
                        </a>
                    </li>
                    <li class="divider" ng-hide="collapsed"></li>
                    <li>
                        <a href="" ng-click="removeSet()">
                            Remove set
                        </a>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</div>

<div class="as-served-set-info">
    <h1 class="as-served-set-title" ng-show="collapsed">
        {{name}}
    </h1>
    <p class="as-served-set-description" ng-show="collapsed">
        {{description}}
    </p>
</div>
<file-drop-zone on-dropped="onFilesChange(fileList)">
    <div class="as-served-set-images" ng-hide="collapsed">
        <div class="intk-gallery-item" ng-repeat="item in items track by $index">
            <div class="intk-gallery-item-img">
                <img-loader src="item.imageUrl"></img-loader>
                <div class="intk-gallery-item-blank" ng-class="{'visible': item.loading}">
                    <div class="pull-right" uib-dropdown>
                        <button class="btn btn-default btn-tools" uib-dropdown-toggle>
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                            <li>
                                <a href="" ng-click="changeImage(item)">
                                    Change image
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="" ng-click="removeItem(item)">
                                    Remove image
                                </a>
                            </li>
                        </ul>
                    </div>
                    <span class="btn-select">
                        <i class="fa" ng-class="{'fa-spinner fa-spin': item.loading }"></i>
                    </span>
                </div>
            </div>
            <div class="intk-gallery-item-tools">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Weight in grams"
                           ng-model="item.weight">
                    <div class="input-group-addon">
                        g
                    </div>
                </div>
            </div>
        </div>
    </div>
</file-drop-zone>