<div class="pull-right" uib-dropdown>
    <button class="btn btn-default" uib-dropdown-toggle ng-disabled="loading">
        <i class="fa" ng-class="{'fa-ellipsis-v': !loading,
                                 'fa-spinner fa-spin': loading}"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
        <li>
            <a href="" ng-click="addItem()">
                Add image
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="" ng-click="removeSet()">
                Remove set
            </a>
        </li>
    </ul>
</div>

<div class="as-served-set-info">
    <h1 class="as-served-set-title">
        <editable ng-model="name" placeholder="Type something" required></editable>
    </h1>
    <p class="as-served-set-description">
        <editable ng-model="description" placeholder="Type something" required></editable>
    </p>
</div>
<div class="as-served-set-images">
    <p class="page-block" ng-hide="items.length">No images</p>
    <div class="intk-gallery-item" ng-repeat="item in items track by item.id">
        <div class="intk-gallery-item-img">
            <img-loader src="item.src"></img-loader>
            <div class="intk-gallery-item-blank"
                 ng-class="{'visible': item.asServedItemModel.loading}">
                <div class="pull-right" uib-dropdown>
                    <button class="btn btn-default btn-tools" uib-dropdown-toggle>
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                        <li>
                            <a href="" ng-click="changeImage(item)">
                                Change image
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="" ng-click="removeItem(item)">
                                Remove image
                            </a>
                        </li>
                    </ul>
                </div>
                <span class="btn-select">
                    <i class="fa"
                       ng-class="{'fa-spinner fa-spin': item.asServedItemModel.loading }"></i>
                </span>
            </div>
        </div>
        <div class="intk-gallery-item-tools">
            <div class="input-group" ng-show="item.asServedItemModel.edited">
                <input class="form-control" type="text" placeholder="Weight in grams"
                       ng-model="item.asServedItemModel.newWeight"
                       ng-disabled="item.asServedItemModel.loading">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="saveItem(item)"
                            ng-disabled="item.asServedItemModel.loading">
                        <i class="fa" ng-class="{'fa-check': !item.asServedItemModel.loading,
                                                 'fa-spinner fa-spin': item.asServedItemModel.loading}"></i>
                    </button>
                </div>
            </div>
            <a class="child-visible-on-hover no-text-decoration" href=""
               ng-click="item.asServedItemModel.edit()"
               ng-class="{hide: item.asServedItemModel.edited}">
                <span class="dashed">
                    {{ item.weight }}g
                </span>
                <i class="fa fa-pencil visible-on-hover"></i>
            </a>
        </div>
    </div>
</div>