<form class="form-horizontal">
    <div class="form-group" ng-class="{'has-error': !formValidation.name}">
        <label class="control-label col-sm-2 col-xs-3">Survey name</label>
        <div class="col-sm-10 col-xs-9">
            <input type="text" class="form-control input-lg" placeholder="Survey name"
                   ng-model="newName">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': !formValidation.supportEmail}">
        <label class="control-label col-sm-2 col-xs-3">Contact email</label>
        <div class="col-sm-10 col-xs-9">
            <input type="text" class="form-control" placeholder="admin@example.com"
                   ng-model="newSupportEmail">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': !formValidation.surveyPeriod}">
        <label class="control-label col-sm-2 col-xs-3">Survey period</label>
        <div class="col-sm-10 col-xs-9">
            <div class="row">
                <div class="col-xs-6">
                    <input type="text" class="form-control"
                           placeholder="{{uiDatetimePickerConfig.dateFormat}}"
                           datetime-picker
                           is-open="datePickerState.startIsOpen"
                           ng-focus="openStartDatePicker()"
                           timepicker-options="uiDatetimePickerConfig.timepickerOptions"
                           ng-model="newStartDate">
                </div>
                <div class="col-xs-6">
                    <input type="text" class="form-control"
                           placeholder="{{uiDatetimePickerConfig.dateFormat}}"
                           datetime-picker
                           is-open="datePickerState.endIsOpen"
                           ng-focus="openEndDatePicker()"
                           timepicker-options="uiDatetimePickerConfig.timepickerOptions"
                           ng-model="newEndDate">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2 col-xs-3">Locale</label>
        <div class="col-sm-10 col-xs-9">
            <select class="form-control" ng-model="newSelectedLocale">
                <option ng-repeat="item in locales"
                        value="{{item.id}}">{{item.englishName}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2 col-xs-3">Follow up survey URL</label>
        <div class="col-sm-10 col-xs-9">
            <input type="text" class="form-control" placeholder="https://externalsurvey.com/mySurvey"
                   ng-model="newExternalFollowUpUrl">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-xs-9 col-sm-offset-2 col-xs-offset-3">
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="newAllowGeneratedUsers">
                Allow generate users
            </label>
        </div>
    </div>
    <div class="form-group text-right">
        <div class="col-xs-12 text-right">
            <button class="btn btn-default" ng-click="cancel()" ng-disabled="loading">
                Cancel
            </button>
            <button class="btn btn-success" ng-click="save()" ng-disabled="loading">
                {{ loading ? 'Loading' : 'Save' }}
            </button>
        </div>
    </div>
</form>