<div class="page-block">
    <div class="search-input-group">
        <search-input ng-model="searchQuery"></search-input>
        <div class="search-input-addon">
            <a href="#{{newSurveyUrl}}" ng-if="currentUser.canCreateSurveys()">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">

            <h3>Surveys</h3>

            <div ng-repeat="locale in filteredLocales">
                <h4 class="group-header"><i class="flag {{locale.flagCode}}"></i>&nbsp;{{locale.englishName}}</h4>


                <survey-manager-icon survey=survey
                                     ng-repeat="survey in filteredSurveys[locale.id]"></survey-manager-icon>

            </div>

            <h4 ng-show="noSurveys && !loading">No surveys found</h4>

            <div ng-show="loading">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </div>

        </div>
    </div>
</div>