.property
	h3 #{ gettext("Definition") }
	{{ $scope.categoryBasicDefinitionChanged() }}
	{{ $scope.categoryLocalDefinitionChanged() }}
	{{ $scope.foodBasicDefinitionChanged() }}
	{{ $scope.foodLocalDefinitionChanged() }}
	include basic-fields
	.input-wrapper
		label #{ gettext("Hidden") }
		input(id='input-is-hidden' type='checkbox' ng-model='itemDefinition.isHidden')

include inheritable-properties

include parent-categories

include portion-size
