form
	.property
		h3 #{ gettext("Definition") }
		include basic-fields
		.input-wrapper.overridable
			label
			input(id='input-is-hidden' type='checkbox' ng-model='itemDefinition.main.isHidden')
			label #{ gettext("Hidden") }

		include properties-locale

	include inheritable-properties

	include parent-categories

	include portion-size
