form(id='food-properties-form')
.property
	include basic-fields
	.input-wrapper(ng-repeat='(id, code) in itemDefinition.local.nutrientTableCodes')
		label {{ id }}
		input(id='input-{{ id }}-code' type='text' placeholder='#{ gettext("e.g. 10968") }' ng-model='itemDefinition.local.nutrientTableCodes[id]')
	.input-wrapper
		label #{ gettext("Food group") }
		select(class='food-group-dropdown' id='food-group-dropdown' data-ng-options="fg.id as fg.displayName for fg in foodGroups" data-ng-model="itemDefinition.groupCode")

include parent-categories
