.property
	h3 #{ gettext("Categories") }
	.categories-container
		ul(ng-repeat='category in parentCategories | orderBy:"displayName"')
			li {{category.displayName}}

	.input-wrapper
		.intake-btn.success(ng-click='showParentCategoriesDrawer()')
			span #{ gettext("Manage categories") }
		.clearfloat
