.property(ng-controller="CategoriesController")
	h3 #{ gettext("Categories") }
	.form-group
		.col-xs-12
			.categories-container
				ul(ng-repeat='category in $parent.parentCategories | orderBy:"displayName"')
					li {{category.displayName}}

	.form-group
		.col-xs-12
			button.intake-btn.success(type="button" ng-click='showParentCategoriesDrawer()')
				span #{ gettext("Manage categories") }
