.guides-drawer {

  &-canvas {
    position: relative;

    canvas {
      max-width: 100%;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  $bordered-item() {
    border-bottom: 1px solid #ccc
  }

  &-path {
    &-info {
      padding: 10px 0;
      $bordered-item()

      .guides-drawer-path-select {
        margin-top: 0;
      }

    }
  }

  &-panel {
    &-header {
      $bordered-item()
    }
  }

}