.guides-drawer {

  &-picture {
    position: relative;

    canvas {
      max-width: 100%;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &-path {
      &-info {
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
      }
  }

  &-panel {
    &-footer {
      padding-top: 10px;
    }
  }

}