@import "_variables.styl";

$intk-img-gallery-item-width = 350px
$intk-img-gallery-item-margin-right = 15px
$intk-img-gallery-item-margin-bottom = 20px
$intk-img-gallery-item-border-radius = 4px
$intk-img-gallery-item-border-color = $subgroup-border-color

$intk-tag-input-selector = intk-tag-input
$intk-tag-input-item = 4px
$intk-gallery-tools-padding = 4px 4px 10px 4px

.intk-gallery {
  padding-top: 20px;

  &-item {
    display: inline-block;
    vertical-align: top;
    width: $intk-img-gallery-item-width;
    max-width: 100%;
    margin-right: 15px;
    margin-bottom: 20px;
    border-radius: $intk-img-gallery-item-border-radius;
    overflow: hidden;
    border: 1px solid $intk-img-gallery-item-border-color;

    &-img {
      width: 100%;
      height: ($intk-img-gallery-item-width * 9 / 16);
      position: relative;
    }

    &-blank {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: #000;
      transition: opacity .1s linear;

      &.visible,
      &:hover {
        opacity: 0.6;
      }

      .btn-select {
        $size = 90px;
        font-size: 0.8 * $size;
        width: $size;
        height: $size;
        margin-top: -($size/ 2);
        margin-left: -($size/ 2);
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        background: transparent;
        border: none;
        outline: none;
      }

      .btn-tools {
        background: transparent;
        color: #fff;
      }

    }

    &-tools {
      padding: $intk-gallery-tools-padding;
    }

  }
}

.img-loader {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  overflow: hidden;

  &-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    transition: opacity $transition;

    &.loaded {
      opacity: 1;
    }

  }

  &-loading-text {
    $height = 16px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align center;
    margin-top: -($height / 2);
    color: #ccc;
    opacity: 1;
    transition: opacity $transition;

    &.loaded {
      opacity: 0;
    }

  }

}

tag-input {

  display: block;
  max-width: 100%;

  .tag-input {

    &-item {
      display: inline-block;
      margin-right: $intk-tag-input-item;
      line-height: 1em;

      a {
        color: #fff;
        font-size: larger;
      }

    }
    input {
      border: none;
      outline: none;
      background: transparent;
    }
  }

}

as-served-set {
  $border = 1px solid $subgroup-border-color;
  display: block;
  padding: 4px 15px 0px 15px;
  margin-bottom: 20px;
  border-top: $border;
  border-bottom: $border;
  background: $subgroup-background-color;
}

.as-served-set {
  &-title,
  &-description{
    margin-bottom: 10px;
    color: #555;
  }

  &-title {
    font-size: 22px;
  }
}
