@import "_variables.styl";

$intk-img-gallery-item-width = 300px
$intk-img-gallery-item-margin-right = 15px
$intk-img-gallery-item-margin-bottom = 20px
$intk-img-gallery-item-border-radius = 4px
$intk-img-gallery-item-border-color = $subgroup-border-color

$intk-tag-input-selector = intk-tag-input
$intk-tag-input-item = 4px
$intk-gallery-tools-padding = 4px 4px 10px 4px

$intk-gallery-as-served-set-padding = 4px 15px 0px 15px

.intk-gallery {
  margin-top: 50px;
  padding-top: 20px;

  &-search {
    position: fixed;
    top: header-height;
    z-index: 5;
  }

  &-add-item {
    $height = $intk-img-gallery-item-width * 9 / 16;
    height: $height;
    text-align: center;
    line-height: 10em;

    a {
      $mb = 10px;
      display block;
      height: ($height / 2) - $mb;
      line-height: 3.5rem;

      &:not(:last-child) {
        margin-bottom: $mb;
      }

    }

  }

  &-item,
  &-add-item {
    display: inline-block;
    vertical-align: top;
    width: $intk-img-gallery-item-width;
    max-width: 100%;
    margin-right: 15px;
    margin-bottom: 20px;
    overflow: hidden;
  }

  &-item {

    border: 1px solid $intk-img-gallery-item-border-color;
    border-radius: $intk-img-gallery-item-border-radius;
    background #fff

    &-img {
      width: 100%;
      height: ($intk-img-gallery-item-width * 9 / 16);
      position: relative;
    }

    &-blank {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: rgba(0,0,0,0);
      transition: background .1s linear, opacity .1s linear;

      &.visible,
      &:hover {
        opacity: 1;
        background: rgba(0,0,0,0.5);
      }

      .btn-select {
        $size = 90px;
        font-size: 0.8 * $size;
        width: $size;
        height: $size;
        margin-top: -($size/ 2);
        margin-left: -($size/ 2);
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        background: transparent;
        border: none;
        outline: none;
      }

      .btn-tools {
        background: transparent;
        color: #fff;
      }

    }

    &-tools {
      padding: $intk-gallery-tools-padding;
    }

  }
}

img-loader {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  overflow: hidden;
}

.img-loader {

  &-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    transition: opacity $transition;

    &.loaded {
      opacity: 1;
    }

  }

  &-loading-text {
    $height = 16px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align center;
    margin-top: -($height / 2);
    color: #ccc;
    opacity: 1;
    transition: opacity $transition;

    &.loaded {
      opacity: 0;
    }

  }

}

tag-input {

  display: block;
  max-width: 100%;

  .tag-input {

    &-item {
      display: inline-block;
      margin-right: $intk-tag-input-item;

      a {
        color: #fff;
        font-size: larger;
      }

    }
    input {
      border: none;
      outline: none;
      background: transparent;
      padding-top: 3px;
      vertical-align: bottom;
    }

    &.disabled {
      input {
        opacity: 0;
        cursor: default;
      }
    }
  }

}

as-served-set {
  $border = 1px solid $subgroup-border-color;
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0 15px 0 15px;
  opacity: 0;
  transition opacity $transition, padding $transition, margin $transition;

  &.visible {
    padding: $intk-gallery-as-served-set-padding;
    margin-bottom: 20px;
    border-top: $border;
    border-bottom: $border;
    background: $subgroup-background-color;
    opacity: 1;
    height: auto;
    overflow: visible;
  }

}

.as-served-set {
  &-title,
  &-description {
    margin-bottom: 10px;
    color: #333;
  }

  &-title {
    font-size: 22px;
  }

  &-blank-text {
    padding $intk-gallery-as-served-set-padding
  }
}
