/* Import CSS snippets */
@import '_snippets'

/* Import color variables */
@import '_variables'

.units-list
  thead
    font-size 13px
  .unit-row
    td
      padding-top 0
      padding-bottom 0

    input[type="text"]
    .ui-select-toggle
    .ui-select-search
      background transparent
      border none
      box-shadow none

    .ui-select-dropdown
      min-width 100%
      width auto

.inline-link
  color #999
  display inline-block
  font-size 14px
  transition color .15s linear
  i
    color #999
    margin 0 6px
  &:hover
    color main-color
    cursor pointer

  &.has-error
    color danger-color

.standard-portion
  margin-bottom 10px

/* RTL Styles */

html[dir="rtl"]

  .portion-size-method
    .units-list
      .row
        .delete-unit
          left 0
          right auto
        .column
          float right
        &.header
          .column
            .unit-cell
              text-align right