.group-header
  padding-top 5px
  padding-bottom 5px
  border-bottom 1px solid $subgroup-border-color;

.survey-manager-icon
  display inline-block
  padding 8px
  margin-left 4px
  margin-right 4px
  text-align center
  min-width 64px

  i
    margin 5px

  a
    color inherit
    &:visited
      inherit
    &:active
      inherit

.secondary-column
  @media (max-width: 600px) {
    display none
  }

.focused-task
  background #f8f8ff

.failed-task
  background #f2dede
