survey-feedback {
  &-item {
    display: block;
    $side-padding = 20px
    $border-radius = 4px
    border 1px solid $subgroup-border-color
    border-radius $border-radius
    background $subgroup-background-color
    margin-bottom 10px
    padding 10px $side-padding
  }

  &-scale-sector,
  &-demographic-group {
    display: block;
    margin-bottom: 10px;

    &:not(:last-child) {
      border-bottom: 1px solid $subgroup-border-color;
    }

  }
}