.text
  &-muted
    color #777

a
  color $anchor-color
  text-decoration none
  transition color $transition

  &:hover
  &:focus
    color darken($anchor-color, $hover-darken)
    text-decoration underline

.dashed
  border-bottom 1px dashed

  &:hover
  &:focus
    text-decoration none

.no-text-decoration
  text-decoration none

  &:hover
  &:focus
  &:active
    text-decoration none
