.search-input-group.intk-gallery-search
    search-input(ng-model="searchQuery")
    .search-input-addon
        file-button(on-change="onFilesChange(fileList)")
            button(type="button")
                i.fa.fa-plus
    .search-input-addon(uib-dropdown auto-close="outsideClick")
        button(type="button" uib-dropdown-toggle id="tools-dropdown")
            i.fa.fa-angle-down
        ul.dropdown-menu.dropdown-menu-right(uib-dropdown-menu aria-labelledby="tools-dropdown")
            li
                a(href="" ng-click="selectAll()") Select all
            li
                a(href="" ng-click="deselectAll()" ng-show="getImagesSelected()") Deselect all
            li(ng-show="copiedTags.length > 0 && getImagesSelected()")
                a(href="" ng-click="pasteTagsToSelected()") Paste tags to selected
            li.divider(ng-show="getImagesSelected()")
            li
                // Fixme: You can't remove deleted images
                a(href="" ng-click="removeSelected()" ng-show="getImagesSelected()") Remove selected

file-drop-zone.intk-gallery(on-dropped="onFilesChange(fileList)")
    on-scrolled-to-bottom(on-bottom="loadImages" bind-to-window)
        .container-fluid

            image-gallery-main-item(id="item.id" src="item.src" tags="item.tags" copied-tags="copiedTags"
            selected="item.selected" loading="item.loading" on-tags-copied="onTagsCopied" on-removed="onRemoved"
            ng-repeat="item in images track by $index")

            p.page-block(ng-show="images.length == 0 && !loadingImages") No images found
            p.page-block(ng-show="loadingImages") Loading...
