<div class="container-fluid">
    <div class="guides-drawer row mt-1">
        <div class="col-xs-9">
            <guided-image-editor-canvas ng-show="guideImage.src"
                                        src="guideImage.src"
                                        active="canvasIsActive"
                                        hovered-path-index="guideImage.hoveredPathIndex"
                                        selected-path-index="guideImage.selectedPathIndex"></guided-image-editor-canvas>
            <guided-image-editor-image-select file="guideImage.newImageFile"
                                              ng-hide="guideImage.src"></guided-image-editor-image-select>

        </div>
        <div class="col-xs-3">
            <div class="guides-drawer-panel">
                <div class="mb-1">
                    <ul class="nav nav-tabs">
                        <li role="presentation" ng-class="{active: generalInfoVisible}">
                            <a href="" ng-click="switchView(true)">General</a>
                        </li>
                        <li role="presentation"
                            ng-hide="isNewItem()"
                            ng-class="{active: !generalInfoVisible}">
                            <a href="" ng-click="switchView(false)">Weights</a>
                        </li>
                    </ul>
                </div>
                <div ng-hide="getIsLoaded()">
                    Loading...
                </div>
                <guided-image-editor-meta ng-show="generalInfoVisible && getIsLoaded()"
                                          image-file="guideImage.newImageFile"
                                          guide-image-id="guideImage.id"
                                          guide-image-description="guideImage.description"></guided-image-editor-meta>
                <div ng-hide="generalInfoVisible || !getIsLoaded()">
                    <guided-image-editor-path-list
                            image-map-id="guideImage.imageMapId"
                            image-map-objects="guideImage.imageMapObjects"
                            selected-index="guideImage.selectedPathIndex"
                            hovered-index="guideImage.hoveredPathIndex"
                    ></guided-image-editor-path-list>
                </div>
            </div>
        </div>
    </div>
</div>